<div class = "conteiner">
  <div class = "form-group d-flex justify-content-center">
    <h1>Seus dados</h1>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= f.label "Nome" %><br />
      <%= f.text_field :name, autocomplete: "name", autofocus: true, :class => "form-control" %>
    </div>
  </div>
  
  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= f.label "Usuário" %><br />
      <%= f.text_field :nickname, autocomplete: "name", :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, :class => "form-control", autocomplete: "email" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= f.label "Senha" %>
      <% if @minimum_password_length %>
      <em>(no mínimo <%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, :class => "form-control", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= f.label "Confirmação da Senha" %><br />
      <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= f.submit "Cadastrar-se", :class => "btn btn-primary" %>
    </div>
    <div class="col-md-6 offset-md-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
<% end %>
</div>
