<%= form_with(model: commentary, local: true) do |form| %>

  <% if commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% commentary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
      <div class="col-md-12">
        <%= form.label "Título" %>
        <%= form.text_field :title, :class => "form-control", :required => "true" %>
      </div>
  </div>

  <div class="field form-group">
    <div class="col-md-12">
      <%= form.label "Conteúdo" %>
      <%= form.text_area :body, :class => "form-control", :required => "true" %>
    </div>
  </div>

  <!--<div class="field">-->
  <!--  <#%= form.label :user_id %>-->
  <!--  <#%= form.text_field :user_id %>-->
  <!--</div>-->
 
    <%= form.text_field :post_id, :class => "invisible" %>

  <div class="form-group">
    <div class="actions col-md-4 offset-md-4">
      <%= form.submit "Enviar", :class => "btn btn-primary" %>
    </div>
  </div>
  
<% end %>