<p id="notice"><%= notice %></p>

<h1>Comentários</h1>

<table class="table table-striped table-responsive">
  <thead class="thead-dark">
    <tr>
      <th>Título</th>
      <th>Conteúdo</th>
      <th>Criador</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commentaries.each do |commentary| %>
      <tr>
        <td><%= commentary.title %></td>
        <td><%= commentary.body %></td>
        <td><%= commentary.user.nickname %></td>
        <td><%= commentary.post.title %></td>
        <td><%= link_to 'Visualizar', commentary,  :class => "badge badge-pill badge-secondary" %></td>
        <td><%= link_to 'Editar', edit_commentary_path(commentary),  :class => "badge badge-pill badge-secondary" %></td>
        <td><%= link_to 'Apagar', commentary, method: :delete, :class => "badge badge-pill badge-secondary", data: { confirm: 'Você tem certeza que deseja apagar este comentário?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo comentário', new_commentary_path, :class => "badge badge-light" %>
