<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @commentary.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @commentary.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @commentary.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @commentary.post %>
</p>

<%= link_to 'Edit', edit_commentary_path(@commentary) %> |
<%= link_to 'Back', commentaries_path %>
