<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> impediu que este post fosse salvo: </h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= form.label "Título" %>
      <%= form.text_field :title, :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= form.label "Conteúdo" %>
      <%= form.text_field :body, :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= form.label "Imagem" %>
      <%= form.file_field :img_post, :class => "img-control" %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-md-6 offset-md-3">
      <%= form.submit "Enviar", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
