<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> impediu que este post fosse salvo: </h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= form.label "Título", :class => "requerido" %> <font color="red">*</font>
      <%= form.text_field :title, :class => "form-control", autofocus: true, :required => "true" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= form.label "Categoria", :class => "requerido" %> <font color="red">*</font>
      <%= select("post", "category_id", Category.all.order("name ASC").collect {|c| [ c.name, c.id]}, {prompt: "Selecione uma categoria"},  {class: "form-control", require: true} ) %>
    </div>
  </div>

  <div class=" field form-group">
    <div class=" col-md-6 offset-md-3">
      <%= form.label "Conteúdo", :class => "requerido" %> <font color="red">*</font>
      <%= form.text_area :body, :class => "form-control", :required => "true", :maxlength => "5000", :minlength => "500", :id => "body" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-md-6 offset-md-3">
      <%= form.label "Imagem", :class => "img-control" %>
      <%= form.file_field :img_post, :class => "img-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="actions col-md-6 offset-md-3">
      <%= form.submit "Enviar", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>