<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Imagem</strong>
  <%= @post.img_post %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @post.user.nickname %>
</p>


<!--<p>-->
<!--  <strong>Commentary:</strong>-->
<!--  <%#= @post.commentary.title %>-->
<!--</p>-->

<strong>Comentários<strong>
  </br>
  </br>

  <%# if false %>
  
    <% @post.commentary.each do |commentary| %>
      <p>
        <strong>Comentário de: </strong>
        <%= commentary.user.nickname %>
      </p>
  
      <p>
        <strong>Título:</strong>
        <%= commentary.title %>
      </p>
      
      <p>
        <strong>Corpo:</strong>
        <%= commentary.body %>
      </p>
    <% end %> <%# end %>
   
    </br>
    </br>
    
    <strong>Deixe o seu comentário<strong>
    
    <%= link_to 'Comentar', new_post_commentary_path(@post) %>
  
  </br>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
