<p id="notice"><%= notice %></p>

<h1>Categorias</h1>

<table class="table table-striped table-responsive">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Visualizar', category, :class => "badge badge-pill badge-secondary"  %></td>
        <td><%= link_to 'Editar', edit_category_path(category), :class => "badge badge-pill badge-secondary"  %></td>
        <td><%= link_to 'Apagar', category, method: :delete, :class => "badge badge-pill badge-secondary" , data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova categoria', new_category_path, :class => "badge badge-light" %>
