<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Novidades do mundo tecnologico e muito mais!">
    <meta name="author" content="Alan Dellon">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
       <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <% if user_signed_in? %>
          <a class="navbar-brand" href="localhost:3000">Blog do <%=current_user.nickname %> </a>
          <% else %>
          <a class="navbar-brand" href="localhost:3000">Seu Blog</a>
          <%end%>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <%= link_to 'Home', "http://localhost:3000", :class => 'nav-link' %>
                </a>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'Meus posts', posts_path, :class => 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Novo post', new_post_path, :class => 'nav-link' %>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Perfil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'dropdown-item' %>
                      <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
                      <% else %>
                      <%= link_to 'Cadastar-se', new_user_registration_path, :class => 'dropdown-item' %>
                      <%= link_to "Login", new_user_session_path, :class => 'dropdown-item'  %>
                        
                    </div>
                  </div>
                  
                  <!--<ul>-->
                  <!--  <li>-->
                  <!--    <div class="dropdown">-->
                  <!--      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                  <!--        Link dropdown-->
                  <!--      </a>-->
                      
                  <!--      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
                  <!--        <a class="dropdown-item" href="#">Alguma ação</a>-->
                  <!--        <a class="dropdown-item" href="#">Outra ação</a>-->
                  <!--        <a class="dropdown-item" href="#">Alguma coisa aqui</a>-->
                  <!--      </div>-->
                  <!--    </div>-->
                  <!--  </li>-->
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
   
  </body>
</html>